body{
    width: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* headers */

#headerNav, #mainNav{
    position: fixed;
    z-index: 100;
}

#headerNav{ 
    width: 100%;
    background-color: black;
}

.normalWhite {
    color:white;
    font-size:0.7em;
    font-weight: bold;
}

a>h1>span:first-child{
    text-decoration: underline;
    font-size:1.8em;
    font-weight: bold;
}

a>h1>span:last-child{
    font-size:2em;
    font-weight: bold;
}

#search{
    position: relative;
    top:-2px;
    left:450px;
} 

#submit{
    position: relative;
    top: 3.2px;
    left: -6.6px;
    display: inline-block;
    width: 50px;
    height: 32px;
    font-size: 20px;
    background-color:#9d0052;
    border: none;
    color: white;
    cursor: pointer;      
}


#title{
    position: relative;
    top:30px;
    left:160px;
}

#headerNav img{
    width: 25px;
}

#headerNav ul{
    position: relative;
    top:-44px;
    right:160px;
    float:right; 
}

#mainNav li, #headerNav li{
    display:inline-block;
    text-align: center;
    padding:0.3em;
    opacity: 0.7;
}

#headerNav>h1, #search{
    display: inline-block;
}


/* main header */

#mainNav{
   
    top: 90px;
    width: 100%;
    height: 40px;
    background-color: #DDDDDD;
    font-size:0.8em;
    
}

#mainNav a{
    color:black;
}

#mainNav div{
    display: inline-block;
    position: relative;
}

#mainNav div:last-child{
    top: 12px;
    left:-156px;
    float:right;
}

#mainNav div:first-child{
    top: 12px;
    left:156px;
    
}

#mainNav a.pink{
    color:#9d0052;
}

main{
    height: 1200px;
    width: 78%;
    margin:auto;
   
}


footer{
    width: 100%;
    background-color:black;
    height: 470px;
    font-size:0.9em;
}

h3{
    font-weight: bold;
     margin: 1em 0.4em;
     display: inline-block;
}

footer div>h4:first-child{
   margin-top:3em;
}

footer li, footer a{
    color:white;
    margin:0.3em;
    
}

footer>div{
    color:white;
    position: relative;
    left:158px;
    margin:0em 7.3em 2em 0em;
    float:left;
    opacity:0.6;
}

#socialMedias img{
    width:30px;
    height: 30px;
    opacity: 0.5;
}


#payInfo{
    margin: 1em 0em;
    padding: 1em 0em;
    width: 78%;
    border-top: 1px ridge gray;
    border-bottom: 1px ridge gray;

}



#payInfo img{
    width: 120px;
    margin: 1em;
}

#payInfo>div{
   float:left;
   margin: 0em 9em 1em 0em;
}

#mainDiv{
    display: none;
}

#mainSection article{
    
    height: 450px;
    border-bottom:1px solid black;
}

#mainSection h4{
    margin: 1em 0em;
}


#loginDiv, #registerDiv{
    display: inline-block;
    width: 100%;

}



#registerDiv input[type='text'], #registerDiv input[type='password'],
#loginDiv input[type='text'], #loginDiv input[type='password']{
    width: 50%;
    height: 40px;
    padding: 2em;
    position: relative;
    top: 175px;
    left: 280px;
    margin: 1em;

}

#loginButton, #regButton{
    position: relative;
    top:150px;
    left:358px;
    width:200px;
    height: 40px;
    line-height: 2em;
    background-color:white;
    border:none;
    border-bottom: 2px ridge #9d0052;
}

#conditions{
    padding: 2em;
    position: relative;
    top: 135px;
    left: 245px;
    margin: 1em;
}

#logIn, #register{
    background-color: #9d2350;
    padding: 2em;
    position: relative;
    width: 562px;
    top: 180px;
    left: 280px;
    margin: 1em;
    border: none;
    line-height: 0.3em;
    height: 40px;
    font-weight: bold;
}

#register{
    top:80px;
}

#faq{
    display: none;
}
main dl{
    position: relative;
    top:250px;
    padding: 2em;
    background-color: #E6E6E6
}
main dt{
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
   
}

main dd{
    padding: 0.4em 1em;

}




dt span{
    color: #9d2350;
    height: 5px;
}


#helpOptions button{
    position: relative;

}

button{
    position: relative;
    top: 200px;
    left: -1px;
    border: none;
    background-color: #9d0052;
    border-radius: 8%;
    width: 221px;
    height: 67px;
    font-size: 1em;
    cursor: pointer;
}

#faqButton{
    top:191px;
}

.help{
    
    position: relative;
    background-color: #E6E6E6;
    top:250px;
    height: 100;
    padding: 1.5em;
}

.help h1{
    margin: 1em;
    font-size:2em;
    font-weight: bold;
    color:#9d0052;
}

.help p{
    margin: 0.5em;
    padding: 0.5em;
    line-height: 1.5em;
}


#profileDiv{
display:none;
}

#profileSection aside{
    width:20%;
    background-color:#E6E6E6;
    height: 1000px;
    display: inline-block;    
}

#profileSection ul{
    list-style-type: disc;
    color:#9d0052;
    position: relative;
    padding: 2em;
}

#profileSection a{
    color: black;
    font-size: 0.9em;
    line-height: 2em;
    border-bottom:1px solid #9d0052;
    border-radius: 12%;
}

#mainMenuW, #mainMenuB, #mainMenuM{
    position: absolute; 
    width: 1110px;
    height: 200px; 
    top:130px; 
    left:160px; 
    display: none;
    background-color: #F5F5F5;
}

#profileSection section{
   float: right;
    width:76.8%;
    display: inline-block;
    left: -20px;
}

#profileSection{
    position: relative;
    top:150px;
    
}

#profileSection section div{
    background-color: #E6E6E6;
    width: 99%;
    margin-bottom:2em;
    padding: 1em;
   
}

#profileSection section div form{
    padding: 1em;
    line-height: 1em;
}

#profileSection h1{
    color: #9d0052;
}

#profileSection input[type=submit]{
    width: 250px;
    height: 30px;
    background-color: #9d0052;
    border-radius: 15%;
    font-weight: bold;
}